<!DOCTYPE html>
<html lang="en">

<head>
    <title>Breadown</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
    @media (min-width: 1200px) {
        .container{
            max-width: 970px;
        }
    }
    .padding-bottom {
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header">
          <h1>Surgery Successful!</h1>
        </div>
    </div>
    <div class="container text-center">
        {% for frame in frames %}
        <div class="col-md-2">
            <img id="frame-{{loop.index}}" src="{{frame['url']}}">
            <p>Frame {{loop.index + 1}}</p>
            <p>face_box_x: {{frame['face_box_x']}}</p>
            <p>face_box_y: {{frame['face_box_y']}}</p>
            <p>face_box_w: {{frame['face_box_w']}}</p>
            <p>face_box_h: {{frame['face_box_h']}}</p>
            <p>duration: {{frame['duration']}}</p>
        </div>
        {% endfor %}
        <div class="padding-bottom">
            <a href="/">Generate Gif</a>
        </div>
    </div>
</body>

</html>