<!DOCTYPE html>
<html lang="en">

<head>
    <title>Plastgif Surgery</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
    @media (min-width: 1200px) {
        .container{
            max-width: 970px;
        }
    }
    .padding-bottom {
        padding-bottom: 40px;
    }
    #action {
        letter-spacing: 1em;
        font-weight: bold;
        font-size: 1.4em;
    }
    </style>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            // if you click on auto-surgery form.action = "/surgery"
            document.querySelector("#auto-surgery").addEventListener('click', function () {
                document.querySelector("form").action = "/surgery";
                document.querySelector("#action").innerHTML = "SEEK AND DESTROY";
                // console.log(document.querySelector("form"), document.querySelector("form").action);
            });
            // if you click on manual-surgery form.action = "/breakdown"
            document.querySelector("#manual-surgery").addEventListener('click', function () {
                document.querySelector("form").action = "/breakdown";
                document.querySelector("#action").innerHTML = "BREAKDOWN";
                // console.log(document.querySelector("form"), document.querySelector("form").action);
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
          <h1>Plastgif Surgery <small>Shoop your friends face into a gif</small></h1>
        </div>
    </div>
    <div class="container">
        <form action="/surgery" method="post" enctype="multipart/form-data">
            <div class="row padding-bottom">
                <div class="form-group col-sm-offset-2 col-sm-4">
                    <label for="gif-img" class="control-label">Gif</label>
                    <input type="file" name="gif-img" id="gif-img" required/>
                </div>
                <div class="form-group col-sm-4">
                    <label for="face-img" class="control-label">Face</label>
                    <input type="file" name="face-img" id="face-img" required/>
                </div>
            </div>
            <div class="row text-center padding-bottom">
                <div class="btn btn-danger text-center" id="auto-surgery">Just Shoop It!</div>
                <div class="btn btn-success text-center" id="manual-surgery">Breakdown Gif</div>
            </div>

            <div class="text-center padding-bottom">
                <button type="submit" class="btn btn-primary text-center">Shoopify</button>
            </div>

        </form>
    </div>
    <div class="text-center">
        <small>SELECTED MODE:</small>
        <div id="action">SEEK AND DESTROY</div>
    </div>
</body>

</html>